.profileContainer{
   grid-row: 2/3;
   grid-column: 2/3;
   display: flex;
   flex-direction: column;
   padding: 20px 24px;
}

.head
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 16px;
   width: 100%;
   margin: 0 0 16px 0;
}

.head h2{
   font-size: 2.5rem;
}

.profile{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   background: linear-gradient(135deg, #003146, #0A1E33);
   border-radius: 7px;
   padding: 10px 0 ;
}

.accountInfo{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 100%;   
}

.profilePicContainer{
   position: relative;
   width: 100%;
   margin-right: 200px;
}

.profilePic{
   border: 1px cyan solid;
   border-radius: 50%;
   width: 15rem;
   height: 15rem;
   margin-left: 50px;
}

.editPicBtn
{
   vertical-align: middle;
   background-color: grey;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   position: absolute;
   bottom: 8px;
   right: 170px;
   cursor: pointer;
   transition: all 0.15s ease-in-out;
}

.editPicBtn img{
   width: 100%;
   height: 100%;
}

.sideBarClose{
   right: 282px;
}

.info{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 100%;
}

.info div{
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   width: 100%;
}

.info div input {
   width: 100%;
   background-color: #143c5a;
   border: 1px solid #003C4D;
   color: #ffffff;
   padding: 0.75rem;
   border-radius: 6px;
   font-size: 1rem;
   outline: none;
   transition: border-color 0.3s ease;
   margin: 5px 0 15px 0;
}

.editInfo{
   display: flex;
   flex-direction: row !important;
   align-items: center !important;
   justify-content: space-between !important;
   width: 100%;
}

.editInfo button{
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.editInfo img{
   width: 50px;
   height: 50px;
   margin: 0;
   border: none;
}  

.changesBtns
{
   width: fit-content !important;
   display: flex;
   align-items: center !important;
   justify-content: center;
   flex-direction: row !important;   
}

.settings
{
   border-top: 1px solid cyan;
   margin: 25px 0 15px;
   display: flex; 
   flex-direction: column;
   align-items: start;
   justify-content: center;
   width: 100%;
}

.settings div{
   padding: 15px 0 15px 10px;
   background-color: #143c5a;
   width: 98%;
   margin-top: 7px;
   margin-left: 5px;
   border-radius: 7px;
   cursor: pointer;
}

.settings div:hover{
   background-color: #003146;
}


@media (max-width: 768px){
   .profileContainer{
      grid-column: 1 / -1;
   }

   .accountInfo{
      flex-direction: column;
      justify-content: center;
   }

   .profilePicContainer{
      margin: 0 auto;
      text-align: center;
   }

   .profilePic{
      margin-left: 0;
   }

   .editPicBtn{
      right: 90px;
   }

   .info div{
      width: 98%;
      margin-left: 5px;
   }

   .info label{
      margin-left: 5px;
   }

   .settings div{
      margin-left: 0;
      width: 90%;
      margin: 10px auto 0;
   }
}  