.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.textEdit, .notesContent{
   width: 100%;
   height: 380px;
   border: none;
   background-color:#0d141c;
   padding: 5px;
   font-size: 1.4rem;
   border-radius: 0;
   outline: none; 
   resize: none;
}

.notesContent{
   white-space: pre-wrap;
}

.toolbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #0d141c;
   border-radius: 7px 7px 0 0;
   width: 100%;
   padding: 7px 5px 10px;
}

.leftSide{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 2px;
}

.leftSide h3{
   margin-right: 15px;
   font-size: 1.8rem;
}

.leftSide p{
   color: rgb(158, 158, 158);
}

.rightSide{
   margin-right: 2px;
}

.tableBtn {
   padding: 5px 15px;
   font-size: 1.1rem;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   transition: background-color 0.2s ease, transform 0.15s ease;
   margin-left: 15px; 
   color: white;
}

.editBtn {
   background-color: #00c4cc; 
}

.editBtn:hover {
   background-color: #00d9e1; 
   
}

.deleteBtn, .discardBtn {
   background-color: #e74c3c; 
}

.deleteBtn:hover, .discardBtn:hover {
   background-color: #ff5a4c;
   
}