.searchContainer {
   grid-row: 1 / 2;
   grid-column: 2 / 3;
   display: flex;
   align-items: center;
   justify-content: space-between; /* keep space between elements */
   gap: 12px;                      /* spacing between items */
   padding: 16px 24px 0;
   background: transparent;
   overflow: hidden;
}

.searchContainer.open {
   padding: 48px 24px 16px;
   margin-left: 50px;
}

.humMenuBtn {
   background-color: transparent;
   border: none;
   cursor: pointer;
   flex-shrink: 0; /* don’t collapse */
}

.humMenu {
   width: 100px;
   height: 100px;
}

.searchInput {
   flex: 1; /* take all available space */
   max-width: 750px;
   background-color: #143c5a;
   border: 1px solid #003C4D;
   color: #ffffff;
   padding: 0.75rem;
   border-radius: 6px;
   font-size: 1rem;
   outline: none;
   transition: border-color 0.3s ease;
}

.searchInput:focus {
   border-color: #00B4D8;
   box-shadow: 0 0 8px rgba(0, 180, 216, 0.5);
}

.installBtn {
   flex-shrink: 0; /* stay at fixed size */
   border-radius: 7px;
   border: none;
   color: #F5F5F5;
   height: 42px;
   font-size: 1.1rem;
   background-color: #0abcc2;
   padding: 0px 25px;
   transition: all ease-in-out 0.15s;
   cursor: pointer;
   z-index: 1;
}

.installBtn:hover {
   background-color: #00A0A8;
}

.installBtn:active {
   background-color: #00868A;
}

@media (max-width: 480px) {
   .searchContainer {
      grid-column: 1 / -1;
   }

   .searchInput {
      width: 188px; /* fixed width on small screens */
      flex: 0;
   }

   .humMenuBtn {
      margin-left: -35px;
      margin-right: -30px;
   }

   .installBtn {
      height: 40px;
      padding: 10px 15px;
   }
}

@media (max-width: 768px) {
   .searchContainer {
      grid-column: 1 / -1;
   }

   .searchInput {
      width: 188px; /* fixed width on small screens */
      flex: 0;
   }

   .humMenuBtn {
      margin-left: -35px;
      margin-right: -30px;
   }

   .installBtn {
      height: 40px;
      padding: 10px 8px;
   }
}
