.container
{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.37);
}

.inputBox{
   background-color: #003646;
   width: fit-content;
   height: fit-content;
   padding: 20px 70px;
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.inputBox h4{
   text-align: center;
   font-size: 2rem;
   margin-bottom: 15px;
}

.inputBox input, .typeBox{
   width: 100%;
   background-color: #143c5a;
   border: 1px solid #003C4D;
   color: #ffffff;
   padding: 0.75rem;
   border-radius: 6px;
   font-size: 1rem;
   outline: none;
   transition: border-color 0.3s ease;
   margin-bottom: 15px;
}

.typeBox {width: 103.5%;}

.inputBox input:focus{
   border-color: #00B4D8;
   box-shadow: 0 0 8px rgba(0, 180, 216, 0.5);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.btns{
   display: flex;
   align-items: center;
   justify-content: center;
}

.formBtn {
   padding: 5px 15px;
   font-size: 1.1rem;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   transition: background-color 0.2s ease, transform 0.15s ease;
   margin-left: 15px; 
   color: white;
}

.addBtn, .deleteBtn {
   background-color: #00c4cc; 
}

.addBtn:hover, .deleteBtn:hover {
   background-color: #00d9e1; 
   
}

.cancelBtn{
   background-color: #e74c3c; 
}

.cancelBtn:hover{
   background-color: #ff5a4c;
   
}

@media (max-width: 768px){
   .inputBox{
      width: 60%;
   }

   .typeBox {
      width: 110%;
   }

   .formBtn{
      font-size: 1rem;
   }
}